/* Reference info 
font-family: 'Oxygen', sans-serif;
font-family: 'Oxygen Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Share Tech', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Lora', serif;
color: #6d92c7; That's the blue used throughout the site (logo, etc). 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:hover span {
  color: #6d92c7;
}

html,
body {
  font-family: "Share Tech", sans-serif;
  font-size: 22px;
  color: #000;
  background: #fff;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono", monospace;
}

input,
textarea,
button {
  font-family: "Share Tech", sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 0.25rem;
}

.learn-more {
  color: #6d92c7;
  padding: 0.1rem;
  border: 1px solid;
  border-radius: 5px;
}

/* ---------------------------------------------------------------------
   HEADER RULESETS -----------------------------------------------------
   --------------------------------------------------------------------- */
header {
  background: #000;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 50;
}

header * {
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  width: 250px;
}

.logo img {
  width: 100%;
}

.nav-up {
  top: -100px;
}

.menu-toggle {
  /* Hide mobile menu by default */
  display: none;
  cursor: pointer;
}

/* ************** */
/* NAVIGATION BAR */
/* ************** */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav>ul {
  list-style: none;
}

nav>ul>li {
  float: left;
  position: relative;
}

nav>ul>li>a {
  padding: 1rem 3vw 1rem 0.5rem;
  display: block;
}

nav ul li ul {
  width: 325px;
  list-style: none;
  position: absolute;
  left: 0;
  display: none;
}

nav ul li ul li a {
  color: #000;
  background: #fff;
  padding: 0.5rem 1.5rem;
  display: block;
}

nav ul li ul li:not(:last-child) a {
  border-bottom: 1px solid #d3d3d3;
}

nav ul li ul li a:hover {
  color: #fff;
  background: #000;
}

main {
  background: #6d92c7;
  position: relative;
  top: 100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* **** */
/* Hero */
/* **** */
#hero-background {
  margin: 0 auto 4rem auto;
  width: 100%;
  height: 200px;
  background: #282f38;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#hero {
  flex-basis: 100%;
  margin-left: 10vw;
  background: url(../images/hero-img.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
}

#hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  /*
  transform:
  perspective(20rem)
  rotateX(20deg)
  rotateY(30deg);
  */

#hero-content h1 {
  padding: 1rem 0;
  color: #fff;
  text-align: center;
}

#hero-content h1 #mission {
  color: #6d92c7;
}

#hero-content #portfolio-btn {
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background: #1f242b;
  border: 1px solid #1f242b;
  border-radius: 5px;
}

/* ************* */
/* Content Upper */
/* ************* */
.content-upper {
  padding: 0 10vw;
  margin: 4rem auto;
  position: relative;
}

.upper-title {
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
}

.arrow {
  font-size: 1rem;
  color: #ffffff;
  opacity: .75;
  position: absolute;
  bottom: 0;
  z-index: 20;
}

.arrow:hover {
  opacity: 1;
}

.prev {
  left: 20%;
}

.next {
  right: 20%;
}

.slides .post {
  background: #ffffff;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 5px;
  overflow: hidden;
}

.slides .post-image {
  max-width: 100%;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.slides .future-project {
  -webkit-filter: blur(5px); 
  filter: blur(5px);
}

.slides .post-title {
  font-size: 0.9rem;
  padding: 0.5rem;
}

/* **************************************** */
/* About, Competencies, Services, Resources */
/* **************************************** */
.content-upper figure {
  margin-right: 1rem;
}

.content-upper .description {
  margin-top: 1rem;
}

.content-upper blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.experience,
.technology,
.service {
  background: #fff;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

.experience,
.technology {
  display: flex;
}

.technology img {
  width: 100px;
}

.technology p:not(:last-child),
.service p:not(:last-child) {
  margin-bottom: 1rem;
}

.technology p span {
  font-weight: 600;
}

.experience .date,
.experience .location {
  color: #808080;
}

.experience ul {
  margin-left: 1rem;
}

.experience li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.service img {
  margin-right: 1rem;
  width: 400px;
  float: left;
}


/* ********* */
/* Resources */
/* ********* */
.content-list {
  color: #fff;
  background: #6d92c7e0;
  padding: 0 1rem 1rem 1rem;
  position: sticky;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.content-list a {
  color: #ffffffb0;
  margin: 0.2rem;
  padding: 0.3rem;
  display: block;
  border: 2px solid #ffffffe0;
  border-radius: 5px;
  transition: all 0.2s;
}

.content-list a:hover {
  color: #fff;
  border: 2px solid #fff;
}

.list-up {
  top: 0;
}

.list-down {
  top: 100px;
}

.reference-links {
  background: #fff;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
}

.reference-links h3 {
  margin-top: -240px;
  padding-top: 240px;
  padding-bottom: 1rem;
}

.reference-links ul {
  margin-left: 1rem;
}

.reference-links li a:hover {
  color: #000;
  text-decoration: underline;
}

.reference-links li:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* ************* */
/* End Resources */
/* ************* */

/* ***************** */
/* End Content Upper */
/* ***************** */

/* ************* */
/* Content Lower */
/* ************* */
.content-lower {
  margin: 0 auto 5rem auto;
  padding: 0 10vw;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.lower-title {
  font-size: 2.2rem;
  color: #fff;
  padding-bottom: 1rem;
}

.services {
  flex-basis: 80%;
  margin-right: 5vw;
}

.services .post {
  padding-bottom: 1rem;
  background: #fff;
  position: relative;
  border-radius: 5px;
}

.services .post:not(:last-child) {
  margin-bottom: 1rem;
}

.services .post-image {
  padding-right: 0.5rem;
  max-width: 177px;
  float: left;
  border-top-left-radius: 5px;
}

.services .post-info {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.services .post-info h3 {
  font-size: 1.5rem;
  padding: 0.5rem 0 0.25rem 0;
}

.services .post-info p {
  padding-top: 0.9rem;
  padding-right: 1rem;
}

.services .learn-more {
  margin-left: 0.5rem;
}

/* Sidebar */
.sidebar {
  color: #fff;
  margin-top: 75px;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar-section {
  background: #6d92c7;
  text-align: center;
  border-radius: 5px;
  min-width: 100%;
}

.sidebar-section-title {
  font-size: 1.5rem;
  padding: 0 0.5rem 1rem 0;
}

.sidebar-section ul {
  list-style: none;
  border-top: 1px solid #fff;
}

.sidebar-section li a {
  padding: 0.5rem 0;
  display: block;
  border-bottom: 1px solid #fff;
  transition: padding 0.2s ease;
}

.sidebar-section li a:hover {
  color: #fff;
  padding-left: 0.2rem;
}

/* ***************** */
/* End Content Lower */
/* ***************** */

/* ************************************ */
/* Privacy Policy and Terms/Condictions */
/* ************************************ */
.legalese p {
  margin-bottom: 1rem;
}

.legalese ol,
.legalese ul {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.legalese li:not(:last-child) {
  margin-bottom: 0.25rem;
}

.legalese h3 {
  font-size: 1.1rem;
  text-decoration: underline;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* *************************************** */
/* End Privacy Policy and Terms/Conditions */
/* *************************************** */

/* ****** */
/* FOOTER */
/* ****** */
footer {
  margin-top: 100px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background: #000;
}

.footer-section {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-section-title {
  color: #fff;
  text-decoration: none;
}

#about {
  flex-basis: 38%;
}

#links {
  flex-basis: 24%;
}

#reachout {
  flex-basis: 38%;
}

#about p {
  line-height: 1.2rem;
  text-align: center;
  padding: 1rem 3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.phone,
.email {
  padding-top: 1rem;
}

.socials {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socials span {
  background: #6d92c7;
  padding: 0.3rem;
  margin: 0.25rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

.socials:hover span {
  color: #fff;
}

.socials span:hover {
  background: #3c69a8;
}

#links ul {
  list-style: none;
  text-align: center;
  padding-top: 1rem;
}

#links li {
  padding-bottom: 0.5rem;
}

#links li a {
  transition: padding 0.2s ease;
}

#links li a:hover {
  padding-left: 0.2rem;
}

#contact-form {
  width: 80%;
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form input {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
}

#contact-form textarea {
  width: 100%;
  height: 7rem;
  margin-bottom: 0.5rem;
  resize: vertical;
}

#contact-form button {
  font-size: 1.1rem;
  color: #fff;
  background: #6d92c7;
  width: 125px;
  height: 2rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 20px;
}

#contact-form button:hover {
  background: #3c69a8;
}

#status {
  font-size: 0.8rem;
  text-align: center;
  width: 80px;
  padding: 0;
}

#status.success {
  background: #278f27;
  animation: status 4s ease forwards;
}

#status.error {
  background: #fd4a4a;
  animation: status 4s ease forwards;
}

.copyright {
  font-size: 1rem;
  color: #000;
  background: #fff;
  width: 100%;
  height: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}