/* Rev. B */

/* Reference info 
font-family: 'Oxygen', sans-serif;
font-family: 'Oxygen Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Share Tech', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Lora', serif;
color: #6d92c7; That's the blue used throughout the site (logo, etc). 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #6d92c7;
}

html, body {
  font-family: "Share Tech", sans-serif;
  font-size: 22px;
  background-color: #f8f8f8;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono", monospace;
  color: #000000;
}

input,
textarea,
button {
  font-family: "Share Tech", sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 0.25rem;
}

/* ---------------------------------------------------------------------
   HEADER RULESETS -----------------------------------------------------
   --------------------------------------------------------------------- */   
header {
  /* Using flex to properly align logo and nav elements */
  background: #000000;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 50;
}

header * {
  color: #ffffff;
}

header .logo {
  /* Using flex to vertically align image inside logo div */
  display: flex;
  align-items: center;
  width: 300px;
  height: 100%;
}

header .logo img {
  width: 100%;
}

/* THIS SECTION COVERS THE NON-IMAGE LOGO SPECS. I USED IT TO BUILD TEXT LOGO TO CAPTURE AS IMAGE
  
  header .logo {
      width: 600px;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      align-items: center;
      margin-left: 20px;
  }
  
  header .name-text {
      font-size: 100px;
      line-height: 1;
      font-family: 'Share Tech Mono', monospace; 
      padding-bottom: 10px;
      display: flex;
  }
  
  header .name-text .blue {
      color: #6d92c7;
  }
  
  header .name-text .bracket {
      margin-top: 8px;
      font-size: 110px;
  }
  
  header .tagline {
      display: flex;
  }
  
  header .tagline div {
      height: 40px;
      width: 27px;
      color: #000000;
      background-color: #ffffff;
      text-align: center;
      margin: 0 3px;
      font-size: 26px;
      font-family: 'Nova Mono', monospace;
      padding-bottom: 5px;
      border-radius: 3px;
  }
  
  header .tagline .tagline-dark-foreground {
      background-color: #6d92c7;
      color: #ffffff;
  }
  
  NON-IMAGE LOGO SPECS END HERE */

header .menu-toggle {
  /* Hide mobile menu by default */
  display: none;
}

/* NAVIGATION BAR */

nav {
  /* Using flex to center the UL */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

nav ul {
  /* First-level menu */
  list-style: none;
}

nav > ul {
  transition: 0.3s;
}

nav > ul > li {
  /* First-level menu selections */
  float: left;
  position: relative;
}

nav > ul > li > a {
  /* Hyperlinks of first-level menu selections */
  display: block;
  padding: 1rem 1.5rem;
}

nav > ul > li > a:hover span {
  /* When the cursor hovers over first-level menu selections */
  color: #6d92c7;
  transition: 0.3s;
}

nav ul li ul {
  /* Second-level menu */
  list-style: none;
  display: none;
  position: absolute;
  left: 0.5rem;
  width: 300px;
}

nav ul li ul li a {
  /* Hyperlinks of the second-level menu selections */
  color: #000000;
  background-color: #ffffff;
  display: block;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid lightgray;
}

nav ul li ul li a:hover {
  /* Style second-level menu selection upon hover */
  color: #ffffff;
  background: #000000;
}

/* ---------------------------------------------------------------------
   MAIN RULESETS -------------------------------------------------------
   --------------------------------------------------------------------- */   

main {
  background: url(../images/mining-rig.jpg);
  background-size: cover;
  position: relative;
  top: 100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main::before {
  background-color: #9b9b9be6;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .post-byline,
main .post-dateline {
  font-family: "Share Tech", sans-serif;
  font-size: 0.8rem;
}

main .post-byline {
  padding-right: 0.5rem;
}

/* post slider */

main .post-slider {
  position: relative;
  margin-top: 3rem;
}

main .post-slider .slider-title {
  text-align: center;
}

main .post-slider .arrows {
  font-size: 2.5rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

main .post-slider .prev {
  left: 2%;
}

main .post-slider .next {
  right: 2%;
}

main .post-slider .arrows:hover {
  font-size: 3rem;
  transition: 0.2s;
}

main .post-slider .post-wrapper {
  width: 86%;
  margin: 2rem auto 0 auto;
  overflow: hidden;
}

main .post-slider .post-wrapper .post {
  background: #fff;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 5px;
  /* box-shadow: 1rem 1rem 1rem -1rem #4d4d4d; */
  overflow: hidden;
}

main .post-slider .post-wrapper .post .post-image {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;;
}

main .post-slider .post-wrapper .post .post-info {
  padding: 0 0 1.25rem 0.25rem;
}

main .post-slider .post-wrapper .post .post-info .post-title {
  padding: 0.25rem 0;
}

/* CONTENT */

main .content {
  position: relative;
  width: 85%;
  margin: 3rem auto;
  display: flex;
  flex-wrap: nowrap;
}

main .content .read-more {
  color: #6d92c7;
  margin-bottom: 0.5rem;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  text-decoration-line: underline;
}

main .content .article-content .read-more {
  left: 0;
}  

main .content .main-content,
main .content .article-content {
  flex-basis: 70%;
  margin-right: 2rem;
}

main .content .main-content .post {
  background-color: #ffffff;
  position: relative;
  margin: 1rem 0;
  border-radius: 5px;
}

main .content .main-content .post .post-image {
  padding-right: 0.5rem;
  max-width: 260px;
  float: left;
}

main .content .main-content .post .post-info {
  padding: 0 0.5rem;
}

main .content .main-content .post .post-info h3 {
  font-size: 1.5rem;
  padding: 0.5rem 0 0.25rem 0;
}

main .content .main-content .post .post-info p {
  padding-top: 0.9rem;
}

main .content .main-content .post .post-info::after {
  content:'';
  display: block;
  height: 3rem;
}

/* ARTICLES */   

main .content .article-content {
  margin-bottom: 1rem;
  padding: 2rem 2rem 0 2rem;
  background: #fff;
  border-radius: 5px;
}

main .content .article-content .article-title {
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

main .content .article-content article {
  position: relative;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

main .content .article-content .article-text::after,
main .content .article-content .article-references:after {
  content:'';
  display: block;
  height: 2rem;
}

main .content .article-content article .article-image {
  padding-right: 0.75rem;
  max-width: 300px;
  float: left;
}

main .content .article-content article p {
  padding-bottom: 1.5rem;
  line-height: 1.5;
}

main .content .article-content .article-references h3 {
  padding-bottom: 1rem;
  text-decoration: underline;
}  

main .content .article-content .article-references ul {
  margin-left: 1rem;
  list-style: circle;
  line-height: 1.5;
}

/* SIDEBAR */

main .content .sidebar {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

main .content .sidebar .section {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  min-width: 100%;
}

main .content .sidebar .section.search {
  margin: 3.3rem 0 1rem 0;
}

main .content .sidebar .section.populars {
  margin: 0 0 1rem 0;
}

main .content .sidebar .section .section-title {
  padding: 0 0.5rem 1rem 0;
}

main .content .sidebar .section ul {
  list-style: none;
  margin: 0;
  border-top: 1px solid #d3d3d3;
}

main .content .sidebar .section ul li a {
  padding: 0.5rem 0;
  display: block;
  border-bottom: 1px solid #d3d3d3;
  transition: all 0.3s;
}

main .content .sidebar .section ul li a:hover {
  padding-left: 0.2rem;
  transition: all 0.3s;
}

main .content .sidebar .section.search .text-input {
  font-size: 1.2rem;
  margin: 0.2rem 0 0 0;
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  outline: none;
}

/* ---------------------------------------------------------------------
   FOOTER --------------------------------------------------------------
   ------------------------------------------------------------------ */   

footer {
  width: 100%;
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #000000;
}

footer .footer-section {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

footer .footer-section .footer-section-title {
  color: #ffffff;
  text-decoration-line: underline;
}

footer .footer-section.about {
  width: 38%;
}

footer .footer-section.links {
  width: 24%;
}

footer .footer-section.contact-form {
  width: 38%;
}

footer .footer-section.about p {
  padding: 1rem 5rem 0 5rem;
  text-align:center;
}

footer .footer-section.about .contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

footer .footer-section.about .contact .phone,
footer .footer-section.about .contact .email {
  padding-top: 1rem;
}

footer .footer-section.about .socials {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer .footer-section.about .socials span {
  padding: 0.3rem;
  margin: 0.25rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background:#6d92c7;
}

footer .footer-section.links ul {
  padding-top: 1rem;
  list-style: none;
  text-align: center;
}

footer .footer-section.links ul li a {
  transition: all 0.3s;
}

footer .footer-section.links ul li a:hover {
  padding-right: 0.2rem;
  transition: all 0.3s;
}

footer .footer-section.contact-form form {
  padding: 1rem 0 0 0;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-section.contact-form form input {
  width: 100%;
  height: 2rem;
  border: 1px solid #000000;
}

footer .footer-section.contact-form form textarea {
  width: 100%;
  height: 5rem;
  margin: 0.5rem 0;
  border: 1px solid #000000;
}

footer .footer-section.contact-form form button {
  font-size: 1.1rem;
  color: #ffffff;
  background-color: #6d92c7;
  width: 125px;
  height: 2rem;
  border: none;
  border-radius: 20px;
}

footer .footer-section.contact-form form button:hover {
  background-color: #3c69a8;
}

footer .footer-section.copyright {
  font-size: 1rem;
  color: #000000;
  background: #ffffff;
  height: 2rem;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
} 