/* Reference info 
font-family: 'Share Tech', sans-serif;
font-family: 'Share Tech Mono', monospace;
color: #6d92c7; That's the blue used throughout the site (logo, etc). 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:hover span {
  color: #6d92c7;
}

html,
body {
  font-family: "Share Tech", sans-serif;
  font-size: 22px;
  color: #000;
  background: #fff;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono", monospace;
}

input,
textarea,
button {
  font-family: "Share Tech", sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 0.25rem;
}

.btn a {
  font-size: 0.9rem;
  color: #6d92c7;
  padding: 0.2rem;
  border: 1px solid #6d92c7;
  border-radius: 5px;
}

.btn a:hover {
  color: #83aeeb;
  border: 1px solid #83aeeb;
}

/* ---------------------------------------------------------------------
   UTILITIES -----------------------------------------------------------
   --------------------------------------------------------------------- */
.text-center {
  text-align: center;
}

.margin-top-4rem {
  margin-top: 4rem;
}

.margin-right-5vw {
  margin-right: 5vw;
}

.padding-left-9_5vw {
  padding-left: 9.5vw;
}

.padding-right-9_5vw {
  padding-right: 9.5vw;
}

.padding-left-10vw {
  padding-left: 10vw;
}

.padding-right-10vw {
  padding-right: 10vw;
}

.padding-left-30vw {
  padding-left: 30vw;
}

.padding-right-30vw {
  padding-right: 30vw;
}

.width-80p {
  flex-basis: 100%;
  margin-right: 0;
}

.width-100p {
  flex-basis: 100%;
  margin-right: 0;
}

.column {
  flex-direction: column;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   HEADER --------------------------------------------------------------
   --------------------------------------------------------------------- */
header {
  background: #000;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 100;
}

header * {
  color: #fff;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  width: 250px;
}

.logo img {
  width: 100%;
}

.nav-up {
  top: -100px;
}

.menu-toggle {
  /* Hide mobile menu by default */
  display: none;
  cursor: pointer;
}

header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > nav > ul {
  list-style: none;
}

header > nav > ul > li {
  float: left;
  position: relative;
}

header > nav > ul > li > a {
  padding: 1rem 3vw 1rem 0.5rem;
  display: block;
}

header > nav ul li ul {
  width: 325px;
  list-style: none;
  position: absolute;
  left: 0;
  display: none;
}

header > nav ul li ul li a {
  color: #000;
  background: #fff;
  padding: 0.5rem 1.5rem;
  display: block;
}

header > nav ul li ul li:not(:last-child) a {
  border-bottom: 1px solid #d3d3d3;
}

header > nav ul li ul li a:hover {
  color: #fff;
  background: #000;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   MAIN ----------------------------------------------------------------
   --------------------------------------------------------------------- */
main {
  background: #6d92c7;
  position: relative;
  top: 100px;
  min-height: 100%;
}

#content-wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   MODAL ---------------------------------------------------------------
   --------------------------------------------------------------------- */
#modal-container {
  background-color: #3d3d3de6;
  padding: 2rem;
  width: 70%;
  z-index: 1;
  display: none;
  position: fixed;
  left: 15%;
  top: 20%;
  overflow: auto;
  border-radius: 5px;
}

#modal-container p {
  color: #fff;
  margin: auto;
}

#close {
  text-decoration: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #ff0000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover {
  cursor: pointer;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   HERO ----------------------------------------------------------------
   --------------------------------------------------------------------- */
#hero-background {
  margin: 0 auto;
  width: 100%;
  height: 200px;
  background: #282f38;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#hero {
  flex-basis: 100%;
  margin-left: 10vw;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
}

#home #hero {
  background-image: url(../images/hero-main.png);
}

#portfolio #hero {
  background-image: url(../images/hero-portfolio.png);
}

#competencies #hero {
  background-image: url(../images/hero-competencies.png);
}

#hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tagline {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  z-index: 1;
}

#tagline span {
  color: #6d92c7;
}

#portfolio-btn {
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: #1f242b;
  border-radius: 5px;
  z-index: 2;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   CONTENT -------------------------------------------------------------
   --------------------------------------------------------------------- */
.content {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.content-title {
  font-size: 2.2rem;
  color: #fff;
  padding-bottom: 1rem;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   CARD ----------------------------------------------------------------
   --------------------------------------------------------------------- */
.card {
  background: #fff;
  border-radius: 5px;
}

.card:not(:last-child) {
  margin-bottom: 1rem;
}

#home .card {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#competencies .card {
  display: flex;
}

#experience .card,
#competencies .card,
#resources .card {
  padding: 1rem;
}

.card-image {
  max-width: 180px;
}

#home .card-image {
  padding-right: 0.5rem;
  border-top-left-radius: 5px;
  float: left;
}

#competencies .card-image {
  padding-right: 0.5rem;
  display: block;
}

.card p a {
  text-decoration: underline;
}

.card-title {
  font-size: 1.5rem;
}

.card p span {
  font-weight: 600;
}

.card blockquote {
  font-style: italic;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.card ul {
  margin-left: 1rem;
}

.card li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.card li a:hover {
  color: #000;
  text-decoration: underline;
}

.card .btn {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

#home .card-title,
#portfolio .card-title {
  padding: 0.5rem 0 0.25rem 0;
}

#resources .card-title {
  padding-bottom: 1rem;
}

#resources .card-title,
#competencies .card-title {
  margin-top: -215px;
  padding-top: 215px;
}

#home .card p {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

#competencies .card p:not(:last-child) {
  padding-bottom: 1rem;
}

#experience .card figure {
  margin-right: 1rem;
}

#portfolio .card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#portfolio .card i {
  color: #6d92c7;
  font-size: 40px;
}

#portfolio .card p {
  padding: 0rem;
}

#portfolio .card #person {
  font-weight: 600;
  color: #6d92c7;
}

#portfolio .card #company {
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

#portfolio .card blockquote {
  margin: auto;
  padding: 2rem 0;
}

/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   SIDEBAR ------------------------------------------------------------
   --------------------------------------------------------------------- */
.sidebar {
  color: #fff;
  margin-top: 75px;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar-section {
  background: #6d92c7;
  text-align: center;
  border-radius: 5px;
  min-width: 100%;
}

.sidebar-section-title {
  font-size: 1.5rem;
  padding: 0 0.5rem 1rem 0;
}

.sidebar-section ul {
  list-style: none;
  border-top: 1px solid #fff;
}

.sidebar-section li a {
  padding: 0.5rem 0;
  display: block;
  border-bottom: 1px solid #fff;
  transition: padding 0.2s ease;
}

.sidebar-section li a:hover {
  color: #fff;
  padding-left: 0.2rem;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   CAROUSEL ------------------------------------------------------------
   --------------------------------------------------------------------- */
.slides {
  justify-content: space-between;
}

.slide {
  background: #fff;
  margin: 0 0.5vw;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.slide i {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.slide i:hover {
  cursor: pointer;
  color: #6d92c7; 
}

.slide .description {
  display: none;
}

.slide-image {
  max-width: 100%;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.slide-image.future-project {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.slide-title {
  font-size: 0.9rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.slide-title i {
  cursor: pointer;
}

.prev,
.next {
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.75;
  position: absolute;
  bottom: 0;
  z-index: 50;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  left: 30%;
}

.next {
  right: 30%;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   EXPERIENCE ----------------------------------------------------------
   --------------------------------------------------------------------- */
.experience {
  background: #fff;
  margin: 1rem 0;
  padding: 1vw;
  border-radius: 5px;
}

#experience .card {
  display: flex;
}

#experience .card .date,
#experience .card .location {
  color: #808080;
}

#experience .card .description {
  margin-top: 1rem;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   RESOURCES -----------------------------------------------------------
   --------------------------------------------------------------------- */
.content-list {
  color: #fff;
  background: #6d92c7f0;
  padding: 0 1rem 1rem 1rem;
  position: sticky;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.content-list a {
  color: #ffffffb0;
  background: #000000;
  margin: 0.2rem;
  padding: 0.3rem;
  display: block;
  border: 2px solid #ffffffe0;
  border-radius: 5px;
  transition: all 0.2s;
}

.content-list a:hover {
  color: #fff;
  border: 2px solid #fff;
}

.list-up {
  top: 0;
}

.list-down {
  top: 100px;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   Privacy Policy, Terms + Condictions ---------------------------------
   --------------------------------------------------------------------- */
.legalese p {
  margin-bottom: 1rem;
}

.legalese ol,
.legalese ul {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.legalese li:not(:last-child) {
  margin-bottom: 0.25rem;
}

.legalese h3 {
  font-size: 1.1rem;
  text-decoration: underline;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
   FOOTER --------------------------------------------------------------
   --------------------------------------------------------------------- */
footer {
  margin-top: 100px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background: #000;
}

.footer-section {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-section-title {
  color: #fff;
  text-decoration: none;
}

#about {
  flex-basis: 38%;
}

#links {
  flex-basis: 24%;
}

#reachout {
  flex-basis: 38%;
}

#about p {
  line-height: 1.2rem;
  text-align: center;
  padding: 1rem 3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.phone,
.email {
  padding-top: 1rem;
}

.socials {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socials i {
  background: #6d92c7;
  padding: 0.3rem;
  margin: 0.25rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

.socials:hover i {
  color: #fff;
}

.socials i:hover {
  background: #83aeeb;
}

#links ul {
  list-style: none;
  text-align: center;
  padding-top: 1rem;
}

#links li {
  padding-bottom: 0.5rem;
}

#links li a {
  transition: padding 0.2s ease;
}

#links li a:hover {
  padding-left: 0.2rem;
}

#contact-form {
  width: 80%;
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form input {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
}

#contact-form textarea {
  width: 100%;
  height: 7rem;
  margin-bottom: 0.5rem;
  resize: vertical;
}

#contact-form button {
  font-size: 1.1rem;
  color: #fff;
  background: #6d92c7;
  width: 125px;
  height: 2rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 20px;
}

#contact-form button:hover {
  background: #83aeeb;
}

#status {
  font-size: 0.8rem;
  text-align: center;
  width: 80px;
  padding: 0;
}

#status.success {
  background: #278f27;
  animation: status 4s ease forwards;
}

#status.error {
  background: #fd4a4a;
  animation: status 4s ease forwards;
}

.copyright {
  font-size: 1rem;
  color: #000;
  background: #fff;
  width: 100%;
  height: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* ---------------------------------------------------------------------
   ---------------------------------------------------------------------
   --------------------------------------------------------------------- */

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}
