/* Rev. A */

/* Reference info 

font-family: 'Oxygen', sans-serif;
font-family: 'Oxygen Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Share Tech', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Lora', serif;


color: #6d92c7; That's the blue used throughout the site (logo, etc). 

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #6d92c7;
}

html,
body {
  font-family: "Share Tech", sans-serif;
  font-size: 1.2rem;
  background-color: #f8f8f8;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono", monospace;
  color: #000000;
}

input,
textarea,
button {
  font-family: "Share Tech", sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 0.25rem;
}

header {
  /* Using flex to properly align logo and nav elements */
  background: #000;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 100;
}

header * {
  color: #fff;
}

/* LOGO */

header .logo {
  /* Using flex to vertically align image inside logo div */
  display: flex;
  align-items: center;
  width: 300px;
  height: 100%;
}

header .logo img {
  width: 100%;
}

/* THIS SECTION COVERS THE NON-IMAGE LOGO SPECS. I USED IT TO BUILD TEXT LOGO TO CAPTURE AS IMAGE
  
  header .logo {
      width: 600px;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      align-items: center;
      margin-left: 20px;
  }
  
  header .name-text {
      font-size: 100px;
      line-height: 1;
      font-family: 'Share Tech Mono', monospace; 
      padding-bottom: 10px;
      display: flex;
  }
  
  header .name-text .blue {
      color: #6d92c7;
  }
  
  header .name-text .bracket {
      margin-top: 8px;
      font-size: 110px;
  }
  
  header .tagline {
      display: flex;
  }
  
  header .tagline div {
      height: 40px;
      width: 27px;
      color: #000;
      background-color: #fff;
      text-align: center;
      margin: 0 3px;
      font-size: 26px;
      font-family: 'Nova Mono', monospace;
      padding-bottom: 5px;
      border-radius: 3px;
  }
  
  header .tagline .tagline-dark-foreground {
      background-color: #6d92c7;
      color: #fff;
  }
  
  NON-IMAGE LOGO SPECS END HERE */

/* BUTTON FOR RESPONSIVE MENU */

header .menu-toggle {
  /* Hiding mobile menu by default */
  display: none;
}

/* NAVIGATION BAR */

nav {
  /* Using flex to center the UL */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

nav ul {
  /* First-level menu */
  list-style: none;
}

nav > ul > li {
  /* First-level menu selections */
  float: left;
  position: relative;
}

nav > ul > li > a {
  /* Hyperlinks of first-level menu selections */
  display: block;
  padding: 1rem 1.5rem;
}

nav > ul > li > a:hover {
  /* When the cursor hovers over first-level menu selections */
  color: #6d92c7;
  transition: 0.2s;
}

nav > ul > li > a:hover > .fa-user {
  color: #6d92c7;
}

nav > ul > li > a > .fa-styling {
  /* Style the Font Awesome down icon */
  font-size: 0.6rem;
}

nav > ul > li > a:hover > .fa-styling {
  color: #6d92c7;
}

nav ul li ul {
  /* Second-level menu */
  display: none;
  list-style: none;
  position: absolute;
  left: 0.5rem;
  width: 300px;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

/*
nav ul li:hover ul {
  /* Unhide second-level menu upon hover /
  display: block;
}
*/

nav ul li ul li a {
  /* Hyperlinks of the second-level menu selections */
  display: block;
  font-size: 1.1rem;
  color: #000;
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid lightgray;
}

nav ul li ul li a:hover {
  /* Style second-level menu selection upon hover */
  background: #000;
  color: #fff;
}

/* MAIN, POST-WRAPPER, POST SLIDER, POST */

/*
main {
  background: url(../images/mining-rig.jpg);
  background-size: cover;
  position: relative;
  top: 100px;
  min-height: 100%;
}

  main::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9b9b9be6;
  }
*/

main  {
  /* This basically wraps the entire content of the main section. 
                          I could do away with the  div element and apply 
                          the styling directly to main */
  display: flex;
  flex-direction: column;
  /* border: 3px solid green; */
}

main  .post-slider {
  position: relative;
  margin-top: 3rem;
  /* border: 3px solid yellow; */
}

main  .post-slider .slider-title {
  text-align: center;
}

main  .post-slider .arrows {
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

main  .post-slider .prev {
  left: 2%;
}

main  .post-slider .next {
  right: 2%;
}

main  .post-slider .arrows:hover {
  color: #6d92c7;
}

main  .post-slider .post-wrapper {
  display: relative;
  width: 85%;
  margin: 0.5rem auto;
  padding: 0.5rem 0 0 0;
  overflow: hidden;
}

main  .post-slider .post-wrapper .post {
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #3f3f3f;
  overflow: hidden;
}

main  .post-slider .post-wrapper .post .post-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

main  .post-slider .post-wrapper .post .post-info {
  padding: 0 0 1.25rem 0.25rem;
}

main .post-slider .post-wrapper .post .post-info h4 {
  padding: 0.25rem 0;
}

/* Resize author and date below post title */
main .post-slider .post-wrapper .post .post-info .post-info-2 {
  font-size: 0.8rem;
}

/* Apply font family to author and date, but not fa icon */
main
  .post-slider
  .post-wrapper
  .post
  .post-info
  .post-info-2
  .post-info-3 {
  font-family: "Share Tech", sans-serif;
}

/* CONTENT */

main .content {
  position: relative;
  width: 85%;
  margin: 3rem auto;
  display: flex;
  flex-wrap: nowrap;
}

main .content .main-content {
  width: 70%;
  margin-right: 2rem;
}

main .content .main-content .recent-post-title {
  padding: 0;
  margin-left: 0;
}

main .content .main-content .post {
  background-color: #fff;
  position: relative;
  margin: 1rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

/*
  main  .content .main-content .post::after {
    content: '';
    display: block;
    clear: both;
  }  
  */

main  .content .main-content .post .post-image {
  width: 40%;
  min-width: 160px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /* padding: 10px 20px 0px 0; */
}

main  .content .main-content .post .post-info {
  width: 60%;
  padding: 0 0.25rem 0 0.5rem;
}

/* Resize author and date below post title */
main  .content .main-content .post .post-info .post-info-2 {
  font-size: 0.8rem;
}

/* Apply font family to author and date, but not fa icon */
main
  .content
  .main-content
  .post
  .post-info
  .post-info-2
  .post-info-3 {
  font-family: "Share Tech", sans-serif;
}

main  .content .main-content .post .post-info p {
  font-size: 1rem;
  padding: 0.5rem 0 0 0;
}

main  .content .main-content .post .btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  color: #000;
  font-size: 0.8rem;
  padding: 0.25rem;
  margin-top: 1rem;
  border: 1px solid #000;
}

main  .content .main-content .post .btn:hover {
  background-color: #6d92c7;
  color: #fff;
  transition: 0.2s;
}

/* SIDEBAR */

main  .sidebar {
  width: 30%;
  margin-top: 3.75rem;
}

main  .sidebar .section {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

main  .sidebar .section .section-title {
  padding: 0.5rem 0;
}

main  .sidebar .section ul {
  list-style: none;
  margin: 0;
  border-top: 1px solid #d3d3d3;
}

main  .sidebar .section ul li a {
  display: block;
  padding: 0.5rem 0;
  border-bottom: 1px solid #d3d3d3;
  transition: all 0.3s;
}

main  .sidebar .section ul li a:hover {
  padding-left: 0.2rem;
  transition: all 0.3s;
}

main  .sidebar .section.search .text-input {
  margin-top: 0.2rem;
  font-family: "Share Tech", sans-serif;
  font-size: 1.2rem;
  outline: none;
  display: block;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  width: 100%;
}

/* FOOTER */

footer {
  background: #000;
  color: #ffffff;
  width: 100%;
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

footer .footer-section {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

footer  .footer-section.about {
  width: 38%;
}

footer  .footer-section.links {
  width: 24%;
}

footer  .footer-section.contact-form {
  width: 38%;
}

footer .footer-section.copyright {
  font-size: 1rem;
  background: #ffffff;
  color: #000000;
  height: 2rem;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer  .footer-section.about p {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

footer  .footer-section.about .contact {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

footer  .footer-section.about .contact span {
  padding: 0 1rem;
}

footer  .footer-section.about .socials {
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer  .footer-section.about .socials span {
  padding: 0rem 1rem 0 0;
}

footer  .footer-section.links ul {
  padding: 1rem 0 0 0;
  list-style: none;
}

footer  .footer-section.contact-form form {
  padding: 1rem 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 2rem;
}

footer  .footer-section.contact-form form input {
  width: 100%;
  height: 2rem;
  border: 1px solid #000;
}

footer  .footer-section.contact-form form textarea {
  width: 100%;
  height: 5rem;
  margin: 0.5rem 0;
  border: 1px solid #000;
}

footer  .footer-section.contact-form form button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 2rem;
  font-size: 1.1rem;
  border: 1px solid #000;
}

footer  .footer-section.contact-form form button:hover {
  background-color: #6d92c7;
  color: #fff;
}

footer  .footer-section .footer-section-title {
  color: #ffffff;
  text-decoration-line: underline;
}








/* ------------------ */
/* MEDIA QUERIES 1320 */
/* ------------------ */
@media only screen and (max-width: 1320px) {
  html footer {
      font-size: 1rem;
  }

  main  .content .main-content .post {
    height: 10rem;
  }
  
  /*
  main  .content .main-content .post .post-info h3 {
    font-size: 1.4rem;
  }

  main  .content .main-content .post .post-info .post-info-2 {
    font-size: 0.7rem;
  }

  main  .content .main-content .post .post-info p {
    font-size: 0.9rem;
  }
*/
}

/* ------------------ */
/* MEDIA QUERIES 1090 */
/* ------------------ */
@media only screen and (max-width: 1090px) {
  html {
    font-size: 1.1rem;
  }

  header {
    position: relative;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
    max-height: 0;
    background: #000000;
    overflow: hidden;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li ul {
    position: static;
    display: none;
    width: 100%;
  }

  nav ul li a {
    text-align: right;
  }

  nav ul li ul li a {
    background: #ffffff /* #9ab9e4 */ ;
    color: #000000;
    padding-left: 2.5rem;
    text-align: right;
  }

  header {
    height: 50px;
  }

  header .logo {
    width: 150px;
  }

  header .logo img {
    width: 100%;
  }

  header .menu-toggle {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 1.4rem;
  }

  /*
  header nav ul li ul li a:hover {
    color: #9ab9e4;
    transition: 0.2s;
  }

  header nav ul li a:hover {
    background-color: #000;
    transition: 0.2s;
  }
  */

  /*
  header .logo {
    margin-left: .5em;
    padding-top: 3px;
  }
      
  header .logo-text {
    font-family: 'Candal', sans-serif;
    font-size: 1.2em;
  }  
  */

  main {
    top: 0;
  }

  main  {
    position: relative;
    margin-top: 0;
  }

  main  .content {
    margin-top: 50px;
  }

  main  .content .main-content {
    width: 100%;
    margin-right: 0;
  }

  main  .content .main-content .post {
    height: 10rem;
  }

  main  .content .sidebar {
    display: none;
  }

  footer  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  footer .footer-section.about,
  footer .footer-section.links,
  footer .footer-section.contact-form
   {
    width: 100%;
  }

  footer .footer-section.about {
    background-color: #000;
  }
  
  footer .footer-section.links {
    background-color: #101010;
  }
  
  footer .footer-section.contact-form {
    background-color: #202020;
  }

  nav ul li a, 
  nav ul li ul li a {
    /* Hyperlinks of first-level menu selections */
    display: block;
    font-size: 25px;
  }

  nav .showing {
    max-height: 100rem;
  }
}

/* ----------------- */
/* MEDIA QUERIES 790 */
/* ----------------- */
@media only screen and (max-width: 790px) {
  html {
    font-size: 1rem;
  }

  main  .content .main-content .post {
    height: 10rem;
  }
}

/* ----------------- */
/* MEDIA QUERIES 565 */
/* ----------------- */
@media only screen and (max-width: 565px) {
  html {
    font-size: 0.7rem;
  }

  main  .content .main-content .post {
    height: 10rem;
  }

}

/* ----------------- */
/* MEDIA QUERIES 400 */
/* ----------------- */
@media only screen and (max-width: 400px) {
  html {
    font-size: 0.7rem;
  }

  main  .content .main-content .post {

    height: 15rem;
    flex-direction: column;
  }

}