/* ---------------------------------------------------
                   MEDIA QUERIES
------------------------------------------------------ */
@media only screen and (max-width: 1470px) {
  body {
    padding-top: 75px;
  }

  header {
    height: 75px;
    display: block;
  }

  header #logo {
    width: 150px;
  }

  header #logo img {
    width: 100%;
  }

  header .menu-toggle {
    right: 15px;
    top: 15px;
    font-size: 30px;
    display: block;
    position: absolute;
  }

  nav {
    width: 100%;
    overflow: hidden;
    z-index: 100;
    height: auto;
    position: absolute;
    margin-right: 0;
  }

  nav > ul {
    width: 100%;
    display: none;
    overflow: hidden;
  }

  nav > ul > li {
    margin: 0;
  }

  nav > ul > li > .menu-wide {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  nav > ul > li > a {
    background: #4859ff;
  }

  nav > ul > li:not(:last-child) > a {
    border-bottom: 1px solid #6a79ff;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    padding: 1rem;
  }

  nav > ul > li > a:hover {
    color: #000;
    background: #fffb01;
    border-bottom: 1px solid #fffb01;
    text-decoration: none;
  }

  nav ul li ul {
    position: static;
    display: none;
    width: 100%;
  }

  nav ul li ul li a {
    text-align: right;
    color: #000;
    background: #fff;
  }

  nav ul li ul li:not(:last-child) > a {
    border-bottom: 1px solid #ececec;
  }

  .nav-up {
    top: -75px;
  }

  .showing {
    display: block;
    max-height: 100rem;
  }

  main {
    min-height: unset;
  }

  #event-img {
    width: 80%;
  }

  #buttons {
    flex-direction: column;
  }
  .button {
    margin: 0.5rem 0;
    font-size: 1.6rem;
  }
  
  .product-wrapper {
    flex-direction: column;
  }

  #hat img {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }

  #product-links {
    top: 75px;
  }

  #product-links a {
    font-size: 1rem;
  }

  .info h1 {
    font-size: 2rem;
  }
  .intro p {
    text-align: justify;
  }

  .image-collection figure {
    flex-basis: 100%;
  }

  footer {
    padding-top: 2rem;
  }

  #sponsors-title {
    font-size: 1.6rem;
  }

  #useful-links {
    display: none;
  }
}
