/* ---------------------------------------------------
                   MEDIA QUERIES
------------------------------------------------------ */

@media only screen and (max-width: 1440px) {
  .button {
    font-size: 2rem;
  }
}  

@media only screen and (max-width: 1330px) {
  .button {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1220px) {
  .button {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1125px) {
  header {
    height: 75px;
    display: block;
    position: relative;
  }

  header #logo {
    width: 150px;
  }

  header #logo img {
    width: 100%;
  }

  header .menu-toggle {
    right: 10px;
    top: 15px;
    font-size: 30px;
    display: block;
    position: absolute;
  }

  nav {
    width: 100%;
    overflow: hidden;
    z-index: 100;
    height: auto;
    position: absolute;
    margin-right: 0;
  }

  nav > ul {
    background: #4859ff;
    width: 100%;
    display: none;
    overflow: hidden;
  }

  nav ul li {
    width: 100%;
  }

  nav > ul > li {
    margin: 0;
  }

  nav > ul > li:not(:last-child) {
    border-bottom: 1px solid #6a79ff;
  }

  nav > ul > li > .menu-wide {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  nav ul li a {
    padding: 1rem;
  }

  nav ul li ul {
    position: static;
    display: none;
    width: 100%;
  }

  nav ul li ul li:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
  }

  nav ul li a:hover,
  nav ul li ul li a:hover {
    /* Style second-level menu selection upon hover */
    color: #000;
    background: #fffb01;
    text-decoration: none;
  }

  nav ul li ul li a {
    text-align: right;
    color: #000;
    background: #fff;
  }

  .showing {
    display: block;
    max-height: 100rem;
  }

  #home #content,
  .flyer {
    margin: 2rem auto;
  }

  main {
    min-height: unset;
  }

  #event-img {
    width: 90%;
  }

  #buttons {
    flex-direction: column;
  }
  .button {
    margin: 0.5rem 1rem;
  }

  footer {
    padding-top: 2rem;
  }

  #sponsors-title {
    font-size: 1.6rem;
  }

  #useful-links {
    display: none;
  }

  .copyright {
    text-align: center;
  }
}
