@font-face {
    font-family: Meriad Pro;
    src: url(../fonts/MyriadPro-Bold.otf);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }
  
  a {
    color: #000;
  }
  
  html {
    font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
    height: 100%;
    color: #000;
    display: flex;
    justify-content: space-around;
  }
  
  header {
    display: flex;
    flex-direction: column;
  }
  
  body {
    height: 100%;
    width: 970px;
  }
  
  .menu-toggle {
    /* Hiding mobile menu by default */
    font-size: 30px;
    border-radius: 50px;
    display: none;
  }
  
  .showing {
    display: flex;
  }
  
  .upper {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    padding: 1rem 0;
    height: 100%;
  }
  
  .useful-links ul {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .useful-links ul li {
    padding-left: 1rem;
  }
  
  .useful-links ul li a {
    display: inline-block;
    padding: 0.5rem 0.25rem;
    color: #161863;
  }
  
  .useful-links ul li a:hover {
    background: #febd11;
  }
  
  .search {
    width: 10rem;
    height: 1.4rem;
    border: 2px solid #505050;
    border-radius: 20px;
  }
  
  .search-text {
    font-size: 0.75rem;
    height: 100%;
    width: 75%;
    margin-left: 0.4rem;
    padding-left: 0.2rem;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  .search-text:focus {
    background-color: orange;
  }
  
  .fa-search {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
  
  .fa-chevron-down {
    padding-left: 0.1rem;
    color: #fff;
  }
  
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    z-index: 10;
    background-color: #505050;
  }
  
  nav > ul {
    font-size: 0.8rem;
    min-width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  nav > ul > li {
    position: relative;
  }
  
  nav > ul > li > a {
    padding: 0.8rem 0.5rem 0.6rem 0.5rem;
    color: #fff;
    text-decoration: none;
    display: block;
  }
  
  nav > ul > li a:hover,
  nav > ul > li a:hover span {
    /* When the cursor hovers over first-level menu selections */
    color: #febd11;
    transition: 0.3s;
  }
  
  nav ul li ul {
    list-style: none;
    display: none;
    position: absolute;
    left: 0.5rem;
    top: 1.95rem;
    width: 200px;
  }
  
  nav ul li ul li a {
    color: #000000;
    text-decoration: none;
    background: #d3d3d3;
    display: block;
    padding: 0.5rem 0.5rem;
    border-top: 1px solid #505050;
  }
  
  nav ul li ul li a:hover {
    color: #ffffff;
    background: #505050;
  }
  
  .extended-nav-item {
    display: none;
  }
  
  .find-resource {
    display: none;
  }
  
  .resource {
    padding: 0.5rem 0;
    width: 49%;
    background: #febd11;
    text-align: center;
  }
  
  .banners {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  .banner img {
    width: 100%;
  }
  
  .slides-outer {
    position: relative;
  }

  .slides {
    margin: 2rem 0;
    width: 100%;
  }
  
  .slides-outer::after {
    content:'';
    display: block;
    height: 10px;
  }

  .slide {
    width: 100%;
    background: #ffffff;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
  }

  .slide img {
    width: 100%;
  }

  .arrows {
    position: absolute;
    bottom: 8px;
    font-size: 1.3rem;
    text-align: center;
    color: #7c7c7c;
    cursor: pointer;

  }

  .prev {
    left: 35%;
  }
  
  .next {
    right: 35%;
  }
  
  .arrows:hover {
    color: #000;
    transition: 0.2s;
  }
 
  .slick-prev:before,
  .slick-next:before {
    color: #505050;
  }
  
  .slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.2;
  }
  
  .slick-active {
    opacity: 0.5;
  }
  
  .slick-current {
    opacity: 1;
  }
  
  .slick-dots {
    bottom: -30px;
  }

  .cardset {
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .card {
    margin-bottom: 1rem;
    height: 185px;
    width: 183px;
    border: 1px solid #919191;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 5px 2px #a5a5a5;
  }
  
  .card h5 {
    padding: 0.5rem 0 0.25rem 0;
  }
  
  .card p {
    padding-bottom: 0.75rem;
    font-size: 0.75rem;
  }
  
  .card img {
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px #797979;
  }
  
  .small-print p {
    margin-top: 1rem;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 800;
  }
  
  footer ul {
    margin-top: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer ul li {
    padding: 0 0.25rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }
  
  footer ul li a {
    display: inline-block;
    padding: 0.5rem 0.25rem;
    color: #001e80;
  }
  
  footer ul li a:hover {
    background: #febd11;
  }
  
  .socials {
    display: flex;
    align-content: center;
  }
  
  .socials ul {
    display: flex;
    align-items: center;
  }
  
  .socials ul li {
    display: flex;
    align-items: center;
  }
  
  /* ----------------- */
  /* MEDIA QUERIES 1100 */
  /* ----------------- */
  @media only screen and (max-width: 1100px) {
    body {
      width: 90%;
    }
  
    .menu-toggle {
      display: block;
      position: absolute;
      right: 5%;
      top: 20px;
      z-index: 500;
    }
  
    .useful-links {
      display: none;
    }
  
    nav {
      width: 90%;
      position: absolute;
      top: 55px;
      right: 5%;
      z-index: 10;
      border-radius: 0;
    }
  
    nav > ul {
      font-size: 1.1rem;
      flex-direction: column;
      align-items: stretch;
      display: none;
    }
  
    nav > ul > li {
      background: #505050;
      border-bottom: 1px solid #7a7a7a;
    }
  
    nav > ul > li > a {
      color: #fff;
    }

    nav ul li ul {
      position: static;
      display: none;
      width: 100%;
    }
  
    .extended-nav-item {
      display: block;
    }
  
    .find-item {
      display: none;
    }
  
    .find-resource {
      display: flex;
      justify-content: space-between;
    }
  
    .cardset {
      justify-content: space-between;
    }
  }
  
  /* ----------------- */
  /* MEDIA QUERIES 800 */
  /* ----------------- */
  @media only screen and (max-width: 1039px) {
    .banners {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .banners img:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  